@import "../../../../styles/shared";

.input {
  display: flex;
  color: $input-color;
  input {
    @extend %input;
    width: 80px;
  }
  .controls {
    align-items: center;
    color: $input-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1em;

    .increase,
    .decrease {
      @extend %control;
    }
  }

  &:hover {
    color: $input-hover-color;
    input {
      border: $border-style $input-hover-color;
      color: $input-hover-color;
      &:focus {
        border: $border-style $primary-color;
        color: $primary-color;
      }
    }

    .controls {
      color: $input-hover-color;
    }
  }
}
