@import "variables";

%transition {
  transition: 0.5s ease;
}
%interactive-element {
  color: $input-color;
  &:hover {
    color: $input-hover-color;
  }

  &:focus {
    color: $primary-color;
  }
}

%input {
  @extend %interactive-element;
  @extend %transition;
  background: $input-bg-color;
  border: $border-style transparent;
  border-radius: 5px;
  font: bold 15px "Roboto", sans-serif;
  margin: 1em;
  padding: 1em;

  &:hover {
    border: $border-style $input-hover-color;
  }

  &:focus {
    border: $border-style $primary-color;
  }
}

%control {
  @extend %transition;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    transition: 0.1ms;
  }
  &:active {
    color: $input-active-color;
  }
}
