@import "./variables.scss";
@import "./mixins.scss";

button {
  @extend %transition;
  background-color: $primary-color;
  border: 3px solid transparent;
  border-radius: 5px;
  color: white;
  font: bold 15px "Roboto", sans-serif;
  margin: 1em;
  padding: 1em;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:focus {
    background-color: lighten($primary-color, 15%);
  }
}
