@import "./variables.scss";
@import "./mixins.scss";

input,
select {
  @extend %interactive-element;
  @extend %transition;
  background: $input-bg-color;
  border: 3px solid transparent;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;

  &:hover {
    border: 3px solid darken($primary-color, 20%);
  }

  &:focus {
    border: 3px solid $primary-color;
  }
}
input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
