@import "../../styles/shared";

.recipe {
  cursor: pointer;
  @extend %transition;
  border-radius: $border-radius;
  overflow: hidden;
  border: 10px solid transparent;
  margin: 10px;

  &:hover {
    border: 5px solid $primary-color;
  }

  .detail {
    overflow: auto;
    background: $bg-color-light;
    padding: 10px;
  }
}
