@import "../../../styles/shared";

button {
  @extend %interactive-element;
  @extend %transition;
  background-color: $primary-color;
  border: $border-style transparent;
  border-radius: 5px;
  color: white;
  margin: $spacing;
  padding: 1em;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:focus {
    background-color: lighten($primary-color, 15%);
  }
}

.compact {
  padding: 0.1em;
}
