@import "../../../../styles/shared";

.input {
  display: flex;
  select {
    @extend %input;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .control {
    color: white;
    position: relative;
    left: -1.2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    @extend %transition;
    pointer-events: none;
  }
  &:hover {
    .control {
      color: $primary-color !important;
    }
  }
}
